# VSCcode
.vscode/*
!.vscode/settings.json
!.vscode/launch.json

# Go test binary, built with `go test -c`
**/*.test
**/__debug_*

# Go binaries
**/bin
**/challenge

# Python packages, environments
**/__pycache__
**/.env
**/.venv
**/env

# Go workspace file
# go.work
# go.work.sum

# Dependency directories (remove the comment below to include it)
# vendor/
